{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <a href="{{ path('article_create') }}">Создать</a>
    <table border="1">
        <caption>Таблица</caption>
        <tr style="font-weight: bold">
            <td>Название</td>
            <td>Описание</td>
            <td>Дата создания</td>
            <td></td>
            <td></td>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('article_edit', {'id': article.id}) }}">Изменить</a></td>
                <td><a href="{{ path('article_delete', {'id': article.id}) }}">Удалить</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
