{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    <div class="float-right" style="margin-top: 13px">
        <div class="navbar-header">
            <div class="row">
{#                <a href="{{ path('article_locale', {'locale': 'en'}) }}">EN&nbsp;</a>#}
{#                <a href="{{ path('article_locale', {'locale': 'ru'}) }}">&nbsp;RU</a>#}
            </div>
        </div>
    </div>

    <a href="{{ path('article_create') }}">Create</a>
    <table border="1">
        <caption>Table</caption>
        <tr style="font-weight: bold">
            <td>{{ 'label.article.name'|trans }}</td>
            <td>{{ 'label.article.description'|trans }}</td>
            <td>{{ 'label.article.created_at'|trans }}</td>
            <td></td>
            <td></td>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.description }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('article_edit', {'id': article.id}) }}">Update</a></td>
                <td><a href="{{ path('article_delete', {'id': article.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
