{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    <a href="{{ path('article_create') }}">Create</a>
    <table border="1">
        <caption>Table</caption>
        <tr style="font-weight: bold">
            <td>Name</td>
            <td>Description</td>
            <td>Created at</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ article.name }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>
                <a href="{{ path('article_edit', {'id': article.id}) }}">Update</a>
                <a href="{{ path('article_delete', {'id': article.id}) }}">Delete</a>
            </td>
        </tr>
    </table>
{% endblock %}